﻿@model IEnumerable<AdminUserViewModel>

@{
    ViewData["Title"] = "User List";
}

<h2>User List</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.user.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.registerViewModel.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.registerViewModel.Email)
            </td>
            <td>
                @if (item.user.Type != "admin")
                {
                    <a asp-action="PromoteUser" asp-route-id="@item.user.Id">Promote to Admin</a>
                }
                else
                {
                    <div>Admin user</div>
                }
            </td>
        </tr>
}
    </tbody>
</table>
