﻿@model DataModel.User

@{
    ViewData["Title"] = "Promote to Admin?";
}

<h2>Promote to Admin?</h2>

<h3>Are you sure you want to promote this user to an Administrator?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="PromoteUser">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Promote" class="btn btn-default" />
        <a asp-action="Index">Back to List</a>
    </form>
</div>

