﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BobList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/png"  href="@Url.Content("~/favicon-16x16.png")" />
    <style>
        a {
            color: chocolate;
            opacity: 0.7;
            text-decoration: none;
            transition: all 0.6s;
        }

            a:hover {
                opacity: 1;
                text-decoration: none;
                color: cornflowerblue;
            }

        .navbar-header {
            opacity: 0.7;
            transition: all 0.6s;
        }

            .navbar-header:hover {
                opacity: 1.0;
            }

        h2 {
            color: dimgray;
            font-size: 1.2vw;
            transition: all 0.6s;
        }

            h2:hover {
                color: black;
            }
    </style>
</head>
<body>
    <nav id="topbarShared" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a asp-area="" asp-controller="Home" asp-action="IndexButton" class="navbar-brand">.NET BobList</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
        bool userIsAdmin = TempData["UserIsAdmin"] == null ? false : (bool)TempData["UserIsAdmin"];
        TempData.Keep();
                    }
                    @if (User.Identity.IsAuthenticated)
    {
        if (userIsAdmin)
        {
            TempData.Keep("UserIsAdmin");
                <li><a asp-area="" asp-controller="AreaLocale" asp-action="AreaList">Areas</a></li>
                <li><a asp-area="" asp-controller="AreaLocale" asp-action="LocaleList">Locales</a></li>
                <li><a asp-area="" asp-controller="CategorySubCategory" asp-action="CategoryList">Categories</a></li>
                <li><a asp-area="" asp-controller="CategorySubCategory" asp-action="SubCategoryList">SubCategories</a></li>
                <li><a asp-area="" asp-controller="Users" asp-action="Index">Users</a></li>
                <li><a asp-area="" asp-controller="Post" asp-action="AdminCreatePost">Post</a></li>
                <li><a asp-area="" asp-controller="Post" asp-action="AllPosts">All Posts</a></li>
                <li><a asp-area="" asp-controller="Message" asp-action="Inbox">Inbox</a></li>
                <li><a asp-area="" asp-controller="Message" asp-action="SentMessages">Outbox</a></li>
}
else
{
//TempData.Keep("UserIsAdmin");
                <li><a asp-area="" asp-controller="Post" asp-action="CreatePost">Post</a></li>
                <li><a asp-area="" asp-controller="Post" asp-action="MyPosts">My Posts</a></li>
                <li><a asp-area="" asp-controller="Message" asp-action="Inbox">Inbox</a></li>
                <li><a asp-area="" asp-controller="Message" asp-action="SentMessages">Outbox</a></li>
}
}
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - .NET BobList</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
