﻿@model DataModel.Category

@{
    ViewData["Title"] = "Category details";
}

<h2>Category Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (Subcategory item in ViewBag.CategorySubcategories)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a asp-action="SubCategoryEdit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="SubCategoryDelete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>
<div>
    <a asp-action="CategoryEdit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="CategoryList">Back to List</a>
</div>
