﻿@using X.PagedList.Mvc.Core;
@using X.PagedList;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Post List";
}
<hr />
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <section>
            <div>
                @using (Html.BeginForm("KeywordSearch", "CategorySubCategory",
                   new { area = ViewBag.AreaSlug, locale = ViewBag.LocaleSlug, category = ViewBag.CategorySlug, subcategory = ViewBag.SubCategorySlug, currentFilter = ViewBag.CurrentFilter},
                   FormMethod.Get, false,
                   new { @class = "form-inline" }))
                {
                <p>
                    @Html.Hidden("area", ViewBag.AreaSlug as string)
                    @Html.Hidden("locale", ViewBag.LocaleSlug as string)
                    @Html.Hidden("category", ViewBag.CategorySlug as string)
                    @Html.Hidden("SubCategory", ViewBag.SubCategorySlug as string)

                    Search Posts: @Html.TextBox("currentFilter", ViewBag.CurrentFilter as string, new { @class = "form-control"})
                    <input type="submit" value="Search" class="btn btn-default" />

                </p>
                }
            </div>
            <div>
                <ul>
                    @foreach (Post post in ViewBag.Posts)
                {
                    <li>
                        @Html.Label(post.Timestamp.ToShortDateString())
                        @Html.ActionLink(post.Title, "PostInformation", "Post", new { id = post.Id })
                        @Html.Label(post.Locale.Name)
                    </li>

            }
                </ul>
            </div>
        </section>
        <br />

        @Html.PagedListPager((IPagedList) ViewBag.Posts, page => Url.Action("KeywordSearch",
        new {  area = ViewBag.AreaSlug, locale = ViewBag.LocaleSlug, category = ViewBag.CategorySlug, subcategory = ViewBag.SubCategorySlug, currentFilter = ViewBag.CurrentFilter, page }))
    </div>
</div>