﻿@model AdminUserViewModel

@{
    ViewData["Title"] = "Create SubCategory";
}

<h2>Create SubCategory</h2>

<h4>SubCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SubCategoryCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.subcategory.Name" class="control-label"></label>
                <input asp-for="@Model.subcategory.Name" class="form-control" />
                <span asp-validation-for="@Model.subcategory.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.subcategory.Category" class="control-label"></label>
                <select asp-for="@Model.subcategory.CategoryId" class ="form-control" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SubCategoryList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
