﻿@model DataModel.Subcategory

@{
    ViewData["Title"] = "Delete SubCategory";
}

<h2>Delete SubCategory</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SubCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
    
    <form asp-action="SubCategoryDelete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Hide" class="btn btn-default" /> |
        <a asp-action="SubCategoryList">Back to List</a>
    </form>
</div>
