﻿@model IEnumerable<DataModel.Subcategory>

@{
    ViewData["Title"] = "SubCategory List";
}

<h2>SubCategory List</h2>

<p>
    <a asp-action="SubCategoryCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="SubCategoryEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="SubCategoryDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
