﻿@model DataModel.Post

@{
    ViewData["Title"] = "New Post";

    TempData.Keep();

}

<h2>Create Post</h2>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="OwnerId" type="hidden" class="form-control" value="@TempData["OwnerId"]" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaId" class="control-label"></label>
                <select asp-for="AreaId" class="form-control" asp-items="@(new SelectList(ViewBag.Areas,"Id","Name"))"
                        onchange="FillLocales()">
                    <option value="">-- Select Area --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="LocaleId" class="control-label"></label>
                <select asp-for="LocaleId" class="form-control" asp-items="@(new SelectList(Enumerable.Empty<SelectListItem>(),"Id","Name"))">
                    <option value="">-- Select Locale --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(ViewBag.Categories,"Id","Name"))"
                        onchange="FillSubcategories()">
                    <option value="">-- Select Category --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SubcategoryId" class="control-label"></label>
                <select asp-for="SubcategoryId" class="form-control" asp-items="@(new SelectList(Enumerable.Empty<SelectListItem>(),"Id","Name"))">
                    <option value="">-- Select Subcategory --</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MyPosts">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    // Write your JavaScript code.
    function FillLocales() {
        var areaId = $('#AreaId').val();
        $.ajax({
            url: '/Post/FillLocales/' + areaId,
            type: "GET",
            dataType: "JSON",
            data: { AreaId: areaId },
            success: function (Locales) {
                $("#LocaleId").html(""); // clear before appending new list
                $.each(Locales, function (i, locale) {
                    $("#LocaleId").append(
                        $('<option></option>').val(locale.id).html(locale.name));
                });
            }
        });
    }

    function FillSubcategories() {
        var categoryId = $('#CategoryId').val();
        $.ajax({
            url: '/Post/FillSubcategories/' + categoryId,
            type: "GET",
            dataType: "JSON",
            data: { CategoryId: categoryId },
            success: function (subcategories) {
                $("#SubcategoryId").html(""); // clear before appending new list
                $.each(subcategories, function (i, subcategory) {
                    $("#SubcategoryId").append(
                        $('<option></option>').val(subcategory.id).html(subcategory.name));
                });
            }
        });
    }
</script>
}
