﻿@model Post
@{
    ViewData["Title"] = Model.Title;
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>@Model.Title</h2>
        @Model.Body
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <p>
            @if (User.Identity.IsAuthenticated && User.Identity.Name != Model.Owner.Name)
            {
                <a asp-controller="Message" asp-action="SendMessage" asp-route-id=@Model.Id>Send this Owner a message</a>
            }
        <button onclick="history.go(-1);" class="btn btn-primary">Return to Search</button>
        </p>
    </div>
</div>



