﻿@model DataModel.Area

@{
    ViewData["Title"] = "Area Details";
}

<h2>Area Details</h2>

<div>
    <h4>Area</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (Locale item in ViewBag.AreaLocales)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area.Name)
                </td>
                <td>
                    <a asp-action="LocaleEdit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="LocaleDelete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>
<div>
    <a asp-action="AreaEdit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="AreaList">Back to List</a>
</div>
