﻿
@{
    ViewData["Title"] = "Select locale";
    TempData.Keep();
}

<div class="row">
    <div class="col-md-3">
        <h1> 
                @Html.Raw(ViewBag.Locale == "" ? ViewBag.Area : ViewBag.Locale)
            </h1>
        <h2>Locale</h2>
        <ul>
            @foreach (Locale item in ViewBag.Locales)
            {
                <li>@Html.ActionLink(item.Name, "Index", new { area = item.Area.GetSlug(), locale = item.GetSlug() })</li>
            }
        </ul>
    </div>
</div> 
<div class="row">
    <div class="col-md-3">
        @foreach (Category catitem in ViewBag.Categories)
        {
        <h2>@Html.ActionLink(catitem.Name, "KeywordSearch", "CategorySubCategory", new { area = ViewBag.AreaSlug, locale = ViewBag.LocaleSlug, Category = catitem.GetSlug() })</h2>
        <ul>
            @foreach (Subcategory subCatItem in catitem.Subcategories)
            {
                <li>@Html.ActionLink(subCatItem.Name, "KeywordSearch", "CategorySubCategory", new { area = ViewBag.AreaSlug, locale = ViewBag.LocaleSlug, Category = subCatItem.Category.GetSlug(), Subcategory = subCatItem.GetSlug() })</li>
            }
        </ul>
        }
    </div>
</div>

