﻿@model DataModel.Locale

@{
    ViewData["Title"] = "Delete Locale";
}

<h2>Delete Locale</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Locale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Area.Name)
        </dd>
    </dl>
    
    <form asp-action="LocaleDelete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="LocaleList">Back to List</a>
    </form>
</div>
