﻿@model AdminUserViewModel

@{
    ViewData["Title"] = "Create Locale";
}

<h2>Create New Locale</h2>

<h4>Locale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LocaleCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.locale.Name" class="control-label"></label>
                <input asp-for="@Model.locale.Name" class="form-control" />
                <span asp-validation-for="@Model.locale.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.locale.Area" class="control-label"></label>
                <select asp-for="@Model.locale.AreaId" class ="form-control" asp-items="@(new SelectList(ViewBag.Areas,"Id","Name"))"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="LocaleList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
