﻿@model IEnumerable<DataModel.Locale>

@{
    ViewData["Title"] = "Locales List";
}

<h2>Locales</h2>

<p>
    <a asp-action="LocaleCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area.Name)
            </td>
            <td>
                <a asp-action="LocaleEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="LocaleDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
