﻿@model IEnumerable<DataModel.Area>

@{
    ViewData["Title"] = "Select Area";
}

<div class="row">
    <div class="col-md-3">
        <h2>Select Your Area</h2>
        <ul>
            @foreach (var item in Model)
            {
                <li>@Html.RouteLink(item.Name, "LocaleView", new { area=item.GetSlug() })</li>
            }
        </ul>
    </div>
</div>
