﻿@model DataModel.Message

@{
    ViewData["Title"] = "Full Message";
}

<h2>Full Message</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sender.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Post)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Response)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Response)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Inbox">Inbox</a>
</div>
