﻿@model DataModel.Message

@{
    ViewData["Title"] = "Write Message";
}

<h2>Write Message</h2>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SendMessage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="SenderId" type="hidden" class="form-control" value="@ViewBag.SenderId" />
            <div class="form-group">
                <label asp-for="Response" class="control-label"></label>
                <input asp-for="Response" class="form-control" />
                <span asp-validation-for="Response" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverId" class="control-label"></label>
                <select asp-for="ReceiverId" class="form-control" asp-items="@(new SelectList(ViewBag.Receiver,"Id","Name"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="PostId" class="control-label"></label>
                <select asp-for="PostId" class="form-control" asp-items="@(new SelectList(ViewBag.Post,"Id","Title"))"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SentMessages">Sent Messages</a>
</div>

