﻿@model IEnumerable<DataModel.Message>

@{
    ViewData["Title"] = "Sent Messages";
}

<h2>Sent Messages</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Response)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Receiver)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Response)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receiver.Name)
            </td>
            <td>
                <a asp-action="FullMessage" asp-route-id="@item.Id">View Full Message</a> |
                <a asp-action="SendMessage" asp-route-id="@item.Post.Id" asp-route-messageId ="@item.Id" asp-route-sentBox ="1">Reply</a>
            </td>
        </tr>
}
    </tbody>
</table>
